[2019-08-12 17:39] ffyhlkain opened #2 "1.5 - Large memory comsumption with large textures (eg. 4098x4098)"
I'm trying to drag & drop a 4098x4098 texture into the "Textures" folder, but the application crashes then. Haven't seen a texture size limit, but I guess this is unintended.

Using latest Windows 1.5 portable version, but the same happens with 1.4. Smaller texture are working fine.

![battleBackground](https://user-images.githubusercontent.com/2485174/62900203-e0a29080-bd59-11e9-9ad7-a74aff95c67d

[2019-08-13 21:39] azagaya commented on #2
I confirm it happens on some devices, i'll look into it. It only seems to affect windows, cause i've tried on multiple Linux devices and didn't happen.

[2019-08-13 21:47] azagaya commented on #2
Apparently there is a problem with memory allocation in opencv for windows... i wish this can be solved by my side.

OpenCV Error: Assertion failed (u != 0) in create, file C:\opencv\sources\modules\core\src\matrix.cpp, line 433
terminate called after throwing an instance of 'cv::Exception'
  what():  C:\opencv\sources\modules\core\src\matrix.cpp:433: error: (-215) u != 0 in function create

[2019-08-14 06:39] ffyhlkain commented on #2
When I observe the memory consumption of the application when loading the image, memory usage is increased step by step, so I guess the crash happens when the app is creating the different textures (normals, parallax,...).
So I would suggest to check if a specific step is causing the crash as some of the generations seem to work fine.
Additionally I've noticed that the application is only 32 bit.

[2019-08-14 07:49] Yirarax opened #3 "1.5 - Crash when tiling an image"
When tiling any texture (example 128x128) the programm crashes.
![Dirt](https://user-images.githubusercontent.com/39136512/63003492-8ea45c80-be78-11e9-81ab-5e4fd314c9ba.png)

Apparently the issue is exclusive to Windows and mostly only observed on expensive rigs (Example:
Processor: AMD Ryzen 7 2700X Eight-Core Processor, 3.70 GHz

RAM 32 GB

Graphics Card: GeForce GTX 1660)

[2019-08-14 09:50] azagaya commented on #3
Thanks for reporting! I think this may be solved by a change in normal calculations we are discussing in #1 .
I'll let you know if it does!

[2019-08-14 09:56] azagaya commented on #2
Hi!

Yes, thats the way i should try.

I've also tried, but opencv with Qt for 64 bit did not correctly compile for me no matter what i've tried. I should try again. Anyways, if my math doesn't betray me, memory should be enough.. i think 32bit can allocate almost 4gb..
I'll start by testing each step to see if something is trying to use more memory than intended

[2019-08-14 18:08] Gnumaru commented on #2
I also could not compile opencv 3.2.0 on windows with mingw 64 bit. But I just tried one more time and managed to make it work.

I'm using windows 10 64 bit and I used the mingw 7.3.0 distribution that comes with Qt. But for it to work I had make sure I removed mingw 32 bit from the system path and added mingw 64. I also had to uncheck BUILD_opencv_python3 (wich I already had to uncheck to make it

[2019-08-14 18:13] azagaya commented on #2
Great! i was going to try the same thing after work. These days i'm really busy on my day job.
What Qt version you used?

And could you test if Laigter is also crashing when opening that big image in 64 bit version?

[2019-08-14 18:42] Gnumaru commented on #2
I'm using Qt 5.13.0

Yeah, the 64 bit build loads the 4096x4096 texture. The application freezes for a brief moment, cpu usage for the proccess goes to 16%, ram usage goes to 1700MB and then the texture loads. The preview on the canvas seems to work correctly and the export also seems to work correctly.

I also tried with an 8192x8192 texture. The ram comsumption goes to 4945MB and the app does no

[2019-08-14 18:44] Gnumaru commented on #2
And a 16384x16384 texture makes the app crash

[2019-08-14 18:50] azagaya commented on #2
Ok, clearly there is something that is comsuming too much ram. Perhaps we should try in the future to cache the images once processed or something.

Anyways, for 1.6, we could just release the 64 bit version so the issue affects less users, and later for future version try to implement a better way.

Nevertheless, i think it's not common to try to automatically generate maps for that big images..

[2019-08-14 22:02] azagaya opened #4 "Look for another Image processing library (or use Qt's functions)"
The idea is to replace opencv for a lighter and easier to compile in multiple platforms library.
In theory, we just need a distance transform function, and common color manipulation features.

If anyone cames up with any idea, please comment!

[2019-08-15 12:43] azagaya commented on #2
I managed to compile it for 64 bit, didn't have reset path or variables, just add new mingw to path variable. The previous time i tried, i used Qt 5.12 and an unofficial mingw64 for Qt (because it wasn't official till 5.13 i think), so now larger images may be opened.

 However, this doesn't solve the issue, cause images are consuming a lot more memory than they should... This may be caused becaus

[2019-08-15 14:06] ffyhlkain commented on #2
Great work guys and sure I can. Use case is that I create texture atlases for my characters, which need to be squared to be able to be compressed (PVRTC for example) for mobile. For simplicity I create first the atlas (automatically), then import the texture and generate the normal texture for it. (If I would do it the other way around, I would have to rely on that the same character sprites are p

[2019-08-15 14:17] azagaya commented on #2
Ah ok, that's a good example of use case indeed. I've seen other people first doing normals, and then making the atlases, but now that i think, that would duplicate the effort, as you would need to do atlases twice and also make normals for all individual sprite. However, may be it would be a nicer approach to be able to parse the atlases and load images one by one, and may be cache them... but fo

[2019-08-19 13:37] azagaya opened #5 "Translations needed!"
Laigter is currently translated into spanish and english.
If anyone wants to translate it to another language, it would be very helpful! Just post here and i'll contact you.

[2019-08-19 15:01] flamendless commented on #5
I'm willing to translate it to Filipino (Philippine language)

[2019-08-19 15:36] azagaya commented on #5
@flamendless that would be great! You have this options:

- If you are familiar with Qt, just use lerelease, lupdate and linguist to create the corresponding translation file (if phi is the prefix, it would be laigter_phi.ts).

- If you are not familiar with Qt, you can clone laigter's repo, copy laigter_en.ts to laigter_phi.ts and replace everything between <translation></translation> by the equi

[2019-08-19 22:25] flamendless commented on #5
I'd probably do the latter as I haven't yet downloaded QT creator.

[2019-08-22 11:38] ironpowerkh opened #7 "Need a button to disable anti aliasing"
![anti aliasing](https://user-images.githubusercontent.com/24843378/63511437-846e0800-c4e1-11e9-91e8-6547cefc5c27.png)

Very cool if they are a button to disable anti aliasing. Me i would like use it to make pixel art but it's difficult to see if it's good or not and make good change with anti alising. I think this update can interest lot of guys.

[2019-08-22 11:51] #7 closed

[2019-08-22 11:52] azagaya commented on #7
Hi! have you tried the "pixelated" checkbox in the Visualization dock?

[2019-08-22 12:18] leiserfg commented on #4
Maybe you can use CImg which is a header-only library.

[2019-08-22 12:26] azagaya commented on #4
Thanks for the suggestions! Yes, it looks like the best option right now... the only thing about CImg, is that sometime in the future i wanted to release Laigter under MIT license, so using a MIT compatible library would be best for that. But for that moment i would have also to replace Qt, so it wont be the worst problem to also change the image library again.
I will do some tests with CImg as so

[2019-08-22 12:34] leiserfg commented on #4
Well, you can use Qt in a MIT project,  cause it's is LGPL. I used CImg some years ago, but I have not done C++ for years.

[2019-08-22 12:44] azagaya commented on #4
Yes, i could use LGPL license, but i must provide a way to the user to change the libraries or something (i know little obout licenses, i may be wrong). And some Qt modules are only under GPL (i'm not using them right now anyways). So, i could also use CImg in a MIT licensed software under the same conditions of a LGPL one?

[2019-08-22 12:56] leiserfg commented on #4
You can copy the `CImg.h` file and keep the Apache 2 license for it, and then use MIT for your code.

[2019-08-22 12:57] azagaya commented on #4
Thanks for the help! I'll try to do some tests!

[2019-08-22 13:48] Gnumaru commented on #4
I am not a lawyer and this is not legal advice. In the Qt download page (qt.io/download) there is a comparison between the commercial and the open source licensing schemes. In the open source version only some things are GPL only instead of LGPL. As long as you use only the LGPL things AND you only do dynamic linking instead of static linking AND you do not include source files or copy code from t

[2019-08-22 13:55] azagaya commented on #4
Hi! thanks for the comments. I think static linking is allowed in LGPL, but you must provide the *.o file of the compilation process along with the binary, so the user can link it to another library. And you must give a procedure to achieve this change. Also, i've read somewhere in Qt's web, that if you are not using GPL or LGPL license, then you must provide the source of the Qt libraries used (y

[2019-08-22 14:13] leiserfg commented on #4
By the way, if you are planing to use CImg, take a look at
https://github.com/c-koi/gmic-qt/blob/master/src/ImageConverter.cpp
gmic uses CImg internally.

[2019-08-22 15:52] Gnumaru commented on #4
I just watched this video. Its from the Qt youtube channel, with a real lawyer:

https://www.youtube.com/watch?v=lSYDWnsfWUk

And I also read the LGPLv3 text

https://www.gnu.org/licenses/lgpl-3.0.txt

And I searched for some things on the gpl faq

https://www.gnu.org/licenses/gpl-faq.html

It seems that:

* Regardless if you are making a closed source or open source software, you do not necessari

[2019-08-22 16:02] azagaya commented on #4
Great News! I'll always doubted about that, because other open source MIT projects always neglected to use LGPL libraries, so i thought it was incompatible.
We should make a sway to MIT some time in near future.

[2019-08-24 15:10] azagaya commented on #4
Hey, if you are interested in discussing what path should Laigter follow, and continue contributing, perhaps i could open a Discord server, so conversation is more fluid. What do you think? I write this here because i have no other way to contact you!

[2019-08-24 21:39] ffyhlkain commented on #4
+1 for the discord server. Easy to setup, nice for quick discussions and easier to gather interested people.

[2019-08-24 21:43] azagaya commented on #4
Here it is!
https://discord.gg/KdnkhE

[2019-09-02 23:57] azagaya opened #8 "Update image when modified and saved by external program"
We could use QFileSystemWatcher to detect if a image changed, and update it in that case.

[2019-09-10 15:51] azagaya opened #9 "Missing library in MacOS Mojave"
Some users reported this:

Process:               laigter [4000]
Path:                  /Applications/laigter.app/Contents/MacOS/laigter
Identifier:            com.yourcompany.laigter
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           laigter [4000]
User ID:               501

Date/Time:             2019-09-10 17:42:56.721 +0200
OS

[2019-09-20 12:52] #9 closed

[2019-09-20 12:53] #8 closed

[2019-09-24 11:25] Calinou opened #12 "Format code using clang-format"
We should look at using clang-format to format code automatically. This will lead to a more consistent code style overall.

If clang-format has a preset commonly used for Qt applications, we could use that one.

[2019-09-24 11:29] Calinou opened #13 "Remove generated files from Git"
I noticed the repository includes some generated files such as `compile_commands.json` and `*.qm`. We should look at removing them from the repository, and generate them at build-time instead.

[2019-09-24 11:36] azagaya commented on #13
That's true. We should add them to the gitignore.

[2019-09-25 19:00] azagaya commented on #13
I don't see any other files that should be removed

[2019-09-25 19:42] azagaya commented on #5
@Calinou I've changed all base text and internal strings to english, so i had to pass your translations to another file with english strings as originals. I think some characters broke, and also some new strings appeared due to #10. If you have some spare time, would you check it?

[2019-09-25 20:28] Calinou commented on #13
I think this should be fine for now :slightly_smiling_face:

Just to make sure, does the build system generate `*.qm` files automatically? Otherwise, a manual step would be required to get translations to work.

[2019-09-25 21:33] azagaya commented on #13
You are right, qm files were needed. I readded them. Thanks!

[2019-09-25 21:36] Calinou commented on #13
@azagaya The point was to generate them using QMake, to avoid bloating the repository with binary files that change with every translation update. See https://wiki.qt.io/Automating_generation_of_qm_files.

[2019-09-25 21:40] azagaya commented on #13
Ah, ok. I'm reopening this!

[2019-09-25 22:26] azagaya commented on #13
Now i think it works fine.

[2019-09-26 11:12] azagaya commented on #13
Now i think it works fine.

[2019-09-26 11:12] #13 closed

[2019-09-26 11:13] azagaya commented on #12
All files were formated with clang-format, and contribution details added to CONTRIBUTING.md.

[2019-09-26 11:13] #12 closed

[2019-09-26 21:11] Calinou opened #15 "The Discord link in CONTRIBUTING.md is invalid"
There's a link to a Discord server in [CONTRIBUTING.md](https://github.com/azagaya/laigter/blob/master/CONTRIBUTING.md), but it says "Invite Invalid" when I try to join it. Is anyone else able to reproduce this?

[2019-09-26 21:27] azagaya commented on #15
I'm sorry, i forgot to put the option to never expire.
https://discord.gg/88kJqry

[2019-09-26 21:43] #15 closed

[2019-10-10 17:26] azagaya opened #19 "Share your screenshots (with english text) to replace the ones in readme."
Right now, the screenshots in the README have text in spanish. They should be changed to screenshots with english text. Also, we should check out if there are options for showing localized content.

[2019-10-13 02:05] azagaya opened #20 "Multiple lights don't work properly"
I've noticed that in last release, when using multiple lights, and returning to a type of view different from preview, the lights are not preserved. This means that you get only the default light again.

[2019-10-13 02:06] azagaya commented on #20
Last added light get's deleted, probably because add light button being disabled.

[2019-10-31 11:36] #20 closed

[2019-11-11 21:25] Lodugh opened #23 "textures do not stay at their relative positions when resizing"
Just a small Issue I noticed, when resizing the preview window. For example if you resize the sidebar.

[2019-11-11 21:29] Lodugh opened #24 "long file paths are not fully visible in texture list"
Maybe its enough to show the file name in the texture list or at least have an option to toggle between file name and file path.

[2019-11-11 21:36] Lodugh opened #25 "[Feature Request] values besides sliders"
I think it would be nice to have values besides the sliders because it helps to remember which value worked nicely. It'd also be useful to configure the light height exactly like in the engine you are using. It could also just be a switchable feature.

[2019-11-12 12:04] azagaya commented on #23
Yes, this is because i didn't implement world coordinates. Everything is rendered relative to the widget, because it was easier to properly get coordinates when clicking on a texture. This should take some time to fix.

[2019-11-12 12:15] azagaya commented on #24
This shouldn't be difficult to implement. Perhaps if some newcomer wants to take it to start getting involved... If not i'll do it myself this week or the next!

[2019-11-12 12:15] azagaya commented on #25
Would be very useful indeed.

[2019-11-14 20:13] Lodugh commented on #23
Well, you can give it low priority I think.

[2019-11-14 20:17] Lodugh opened #26 "cant add folders to Laigter"
It would be very useful, if you could just add all files in a folder and its sub folders to Laigter. I hope that isnt to hard to implement!

[2019-11-15 12:06] azagaya commented on #24
Done!

[2019-11-15 12:06] #24 closed

[2019-11-15 12:07] azagaya commented on #26
You mean like draging the folder to Laigter and import all the images recursively?

[2019-11-15 13:03] azagaya commented on #25
Do you think it would be better to have a spinbox, so you can set the value there too, or just a label?

[2019-11-16 19:42] pixelinkmedia opened #27 "Exporting preview non-crop issue"
When i export just a preview image it exports the entire screen leaving the little image in the middle. Meaning I have to crop it to use it.  See the image below . Even though you can't see the boundary it extends three times wider and taller than the little 3D image itself . Save the image to your hard drive and then look at it you will see what I mean .

![3dtext](https://user-images.githubuserc

[2019-11-16 20:32] azagaya commented on #27
Thanks for reporting this,ill try to fix this as soon as i can

[2019-11-16 20:42] azagaya commented on #27
Hey, would you also check if there is a unchecked preview option in the export dock widget? That could be useful for you until the fix

[2019-11-19 19:47] Lodugh commented on #26
Yes, exactly.

[2019-11-19 19:48] Lodugh commented on #25
Just a label I would say.

[2019-12-02 15:50] azagaya commented on #27
Now that i thought this for a while, perhaps the current behaviour of the tool button is fine. Because now you can export each individual preview in the preview dock widget, so this tool button can be used for exporting the whole canvas. What do you think?

[2019-12-02 17:15] azagaya commented on #26
Done!

[2019-12-02 17:15] #26 closed

[2019-12-02 17:31] pixelinkmedia commented on #27
Thanks for asking my opinion. As a programmer myself....
The only use I would see for the entire canvas is if someone wanted to export the canvas so they can import it into a project, whether video or drawing program at the same canvas size as their projects canvas. This way they can keep the texture centered in the canvas . However, for this to be ideal use of that export canvas, a user would wan

[2019-12-02 17:46] azagaya commented on #27
Thanks for this suggestions! The only use case i would see to exporting the whole preview as is, it would be for presenting a mockup with many textures. As now you can handle multiple textures, may be the person in charge of the art wants to present how all the textures would look together.

About the feature suggestion, i would rather that you post them as issues here on github, because itch some

[2019-12-02 18:14] pixelinkmedia opened #29 "Some suggestions"
Some suggestions for future updates...

1) Currently you can add lights, but cannot delete them afterwards. Need the ability to delete added lights

2) Creating, Edit and Saving of project settings so we can comeback and edit what we have made. From programmers viewpoint... you would just save a text file of the path to the image and all the settings.

FYI, tried the presets, but couldn't figure o

[2019-12-02 18:20] azagaya commented on #29
Hi! thanks for the suggestions.

About the lights, you can delete them with right-click.. i think it's on the tooltip.

About the project, yes, it is indeed needed, but i want to implement something more complex, like saving all textures and settings in a zip file (with extension changed to .laigter) and a JSon file to specify which texture corresponds to which settings. So you would be able to sh

[2019-12-02 18:42] pixelinkmedia commented on #29
Presets... I did all that, doesn't seem to work for me.

1) I selected all the check boxes
2) Enter a name
3) Click the save button.
4) New preset shows up in dropdown
5) Close app down, reopen and load an image, select the preset
6) Click apply button.

I see no changes on the screen. Lights and everything are all the same.

Deleting deleting lights.
I right click and there is no popup menu to de

[2019-12-02 18:50] azagaya commented on #29
Sorry, i think i must explain this better or write a doc, untill i have proper project save/load.

For deleting lights, you should right click on the light you want to delete, in "add light mode". I mean, the add light button in the toolbar must be pressed, and then with left click you add lights, and with right click you delete lights.

Are you using presets to save the values of the settings for

[2019-12-02 19:11] azagaya commented on #29
Check this examples. May be they are not the most intuitive form, but it's what i could do...
![uno](https://user-images.githubusercontent.com/46932830/69987313-ffea4700-151d-11ea-9371-c01d8621790f.gif)
![dos](https://user-images.githubusercontent.com/46932830/69987418-3d4ed480-151e-11ea-9a4c-582294be9cc1.gif)

[2019-12-02 19:25] pixelinkmedia commented on #29
Okay... i got the lights.

On the Presets... I was setting a preset and then closing the app. and trying to apply the preset to a new image
It doesn't work if you close the app.

The preset seems to only work within one session while the app is opened

[2019-12-02 19:27] azagaya commented on #29
Thats stragne, It seems to work on my computer. It doesn't work at all or just for lights? Have you checked you have the "ligths per texture" when saving the preset and when applying it again?

[2019-12-02 19:31] pixelinkmedia commented on #29
I am just testing lights.

[2019-12-02 19:32] azagaya commented on #29
![tres](https://user-images.githubusercontent.com/46932830/69988648-cff07300-1520-11ea-872f-c4fe4681ee74.gif)

[2019-12-02 19:33] azagaya commented on #29
Can you try to reproduce the steps i do in the gif?

[2019-12-02 19:43] pixelinkmedia commented on #29
Okay... got it.
I have to check the Lights per texture option
Would not of known that.

I hate writing Help files.
However, you may need to do one soon.

Some people, like me do still read them because i know each program runs different.

[2019-12-10 17:14] azagaya commented on #25
hey, what do you think of this?

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/46932830/70552033-617e6700-1b57-11ea-876e-7764ae0be367.gif)

[2019-12-10 17:39] azagaya commented on #25
Or this two, in which i was able to solve the mouse offset:
![imagen](https://user-images.githubusercontent.com/46932830/70553906-d1dab780-1b5a-11ea-952e-d8608047394b.png)
![imagen](https://user-images.githubusercontent.com/46932830/70553918-d7d09880-1b5a-11ea-9703-b0a978ab7b18.png)

[2019-12-10 18:40] dariuspranskus commented on #25
You guys reading my mind :) This would be very useful. And both label and value please. Thank you.

[2019-12-10 18:43] azagaya commented on #25
@dariuspranskus so, like the examples above you think is right? you have the value inside the slider, and you can click on it and write a number to modify it more precisely.

[2019-12-11 16:03] azagaya commented on #25
Or this:
![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/46932830/70637796-9bfb0900-1c16-11ea-9f45-56810ea7b9bb.gif)

[2019-12-11 20:28] azagaya commented on #25
All previous have some problems when slider range is too high... i will have to think other solution

[2019-12-18 19:28] azagaya commented on #27
Done

[2019-12-18 19:28] #27 closed

[2019-12-18 19:32] azagaya commented on #25
Another option:
![imagen](https://user-images.githubusercontent.com/46932830/71116941-e4d13580-21b3-11ea-9b79-12adb9359f32.png)

[2019-12-18 22:23] dariuspranskus commented on #25
I think this is ok. Another useful feature would be to save the settings as preset.

[2019-12-18 22:50] azagaya commented on #25
@dariuspranskus preset saving and loading is already implemented! see comments in here #29 to see how they are used

[2019-12-18 22:51] azagaya commented on #25
And this?
![ezgif com-video-to-gif(7)](https://user-images.githubusercontent.com/46932830/71130079-d2fd8b80-21cf-11ea-9172-ab601ac6cf91.gif)

[2019-12-20 16:54] azagaya commented on #25
I'm closing this due to the new sliders style.

[2019-12-20 16:54] #25 closed

[2020-01-21 02:49] RandallMNixon opened #31 "issues with flipping complex normals"
I made a video showing what I am seeing. It's mostly when the normal is complex, but happened at different levels of the simple normal as well.

https://www.youtube.com/watch?v=SLHyL7vfgiQ

[2020-01-21 11:10] azagaya commented on #31
Hi @RandallMNixon ! Thanks for the report and for taking the time to make a video of the issue. This issue is caused that a bug that makes the normals generated by bum controls not to be updated unless you modify the "distance" slider. Please, try to modify "distance" slider AFTER you check the invert checkbox, and the normals will be fixed.
This bug was introduced in 1.8, so you could also use 1.

[2020-01-23 00:28] RandallMNixon commented on #31
@azagaya Thank you for a quick response, and I apologize for my later response, I was able to test 1.7 and 1.8 on both Windows 10 and Ubuntu 18.04 LTS and found your explanation to be accurate on both systems. Giving more information I also had 1.8 freeze and terminate on both systems while causing the bug to appear and attempting to work past it.

[2020-01-23 12:48] azagaya commented on #31
@RandallMNixon

Ohh that sounds bad... i'll try to replicate this.

[2020-02-04 12:03] azagaya opened #33 "Error when updating file from file system"
When modifying a file externally, laigter sometimes crashes, sometimes loads an empty texture.

[2020-02-11 04:28] RandallMNixon commented on #31
In testing 1.8.1, I was not able to reproduce this bug in either form. Performance is very good! No stutters or freezes and normals flip as expected in the same scenarios 1.8 failed at.

[2020-02-11 11:19] azagaya commented on #31
Cool! thanks for testing! i think i can close this issue for now. If you find something else, feel free to write here and i'll reopen it.
Tahnks!

[2020-02-11 11:19] #31 closed

[2020-02-11 11:19] azagaya commented on #33
I think this can be closed for now.

[2020-02-11 11:19] #33 closed

[2020-02-11 18:23] Eustache84 opened #34 "Can't change Bevel if mosaic is selected"
Hi there !

Your soft is perfect for what I need ( I can generate normal map from a very large source, like 15000x10000px )
But I have an issue :

When I check Mosaic for tileable patern, i can't change anymore bevel features ( height, distance .. ) it's not blank but nothing happen when I change these settings,
When I try with the native pic, it's ok, but with mine ( even if I just create a squar

[2020-02-11 19:43] azagaya commented on #34
Hi! thanks for the report.
Are you talking about the checkbox by the neighbours button? If so, the behaviour you are describing is in fact the expected behaviour. That checkbox is used in textures that should be able to be "tiled". When the checkbox is checked, Laigter will "extend" the texture in all directions, and use the resulting image to calculate the normals. This is useful for textures lik

[2020-02-11 20:08] Eustache84 commented on #34
Wow ! Thanks for the quick answer !
My english is not so good, IDK if I've understand all what you said but here is my case.

My picture is an tilable texture of a stone wall so it can be repeated in each side without seem.
There is no blank or transparent part ( just stone and black part like this : https://thumbs.dreamstime.com/b/fond-de-mur-en-pierre-19561367.jpg )

I think this is why it doesn

[2020-02-12 11:26] azagaya commented on #34
Hi!

We can chat on discord also.. i never use spoken channels. But cahtting lets you a more dynamic response!

Oh, so i think what you are talking about is something that is usually caled "preserve large details", or "large scale". I have not implemented such a feature yet, because it was never requested unitl now. There is another tool called [NormalMapGenerator](https://github.com/Theverat/Norm

[2020-02-12 11:51] azagaya commented on #34
There is also another thing you could try, but it involves a bit more of editting work. You could make a copy of your image, open it in your edditting soft (gimp, photoshop, etc), and erase all the sites inbetween the rocks. Save it as another file and load it as a heightmap (rightclick in the texture in the texture list, and click load heightmap). This way you could use the bevel controls. I trie

[2020-02-14 14:11] azagaya commented on #34
@Eustache84 were my comments useful? May i close this?

[2020-02-19 14:07] azagaya commented on #34
I'm closing this because apparently no more help is needed. I can reopen it if needed.

[2020-02-19 14:07] #34 closed

[2020-02-27 18:22] azagaya opened #35 "Use QtAwesome to replace hand drawn icons."
See: https://github.com/gamecreature/QtAwesome
It seems simple, and make apps look more professional imho.

[2020-03-03 10:37] rversteegen opened #36 "Can't compile with opencv 4.1.1"
Firstly, on Unix qmake produces a warning (which breaks `qmake && make`):

This is fixed by replacing Widgets with widgets in laigter.pro.

But after that I still can't compile:
[code]
(Similar errors follow)

To compile, I had to remove all 5 of the `DEFINES +=` lines from laigter.pro.
Using GCC 9.2.0, qmake 3.1, Qt 5.13.2, opencv 4.1.1, x86_64 linux (Slackware)

[2020-03-03 11:33] rversteegen opened #37 "[Fix] Doesn't run on Mesa: Illegal use of reserved word `switch'"
Laigter doesn't work for me on Mesa because it fails to ask for GLSL 1.30; Mesa is defaulting to something lower than that.

On starting it I get the error
[code]
And opening any image just shows a white rectangle.

`switch` was added in GLSL 1.30 (OpenGL 3.0). `glxinfo` shows "OpenGL core profile version string: 3.3 (Core Profile) Mesa 19.3.2".

I [found a thread](http://red.planetarena.org/forum

[2020-03-03 11:53] azagaya commented on #36
Thanks a lot for reporting!
Those defines were there because I couldn't compile on some OS without them, and it is working on my linux machine. I'll have to check on which platforms i need those defines, so we can add conditionals to only define them on desired systems. Sadly, i don't have a windows machine in this moments, but i'll check it as soon as possible!

[2020-03-03 11:59] azagaya commented on #37
Hi! Thanks for the report!
I forgot that switch was not present in 1.20. That switch was introduced las week.
I prefer to keep 1.20 because some users run Laigter on really old systems, which don't support 130 or above.
If you want, you can make a PR changing the switch statement by a bunch of `if... else if... else...`! If not, please tell me and ill change myself.
Thanks a lot!

[2020-03-03 12:25] azagaya commented on #36
Now that i checked properly, i remember those defines where added because an user couldnt compile on Manjaro Linux with opencv 4.0 without them.
I will need to check this further.

[2020-03-04 01:52] rversteegen commented on #37
Ah. When I saw the error initially was worried my GPU was too old, it's great to hear you're supporting old systems. (Very nice tool BTW!)

I'll leave it to you to make that change.

[2020-03-04 13:19] azagaya commented on #37
Fixed in  7b13cdb

[2020-03-04 13:19] #37 closed

[2020-03-04 13:20] azagaya commented on #37
Thanks for the report!

[2020-03-05 12:10] YeldhamDev opened #38 "Update icons to be lighter when using a dark theme."
Currently, all icons are still dark even if your OS' Qt theme is dark:
![Screenshot_20200305_091003](https://user-images.githubusercontent.com/30739239/75980381-41eaa680-5eda-11ea-948b-0656b2eeeda5.png)

[2020-03-05 12:19] azagaya commented on #38
Hi! Thanks for the report! Yes, i'm working in a theme support for this. Maybe something like this:
![darktheme](https://user-images.githubusercontent.com/46932830/75980672-ba913900-5ec1-11ea-9dd7-1702bf37dc4c.gif)

Also, if i or any contributor manage to use QtAwesome, perhaps changing icons colors could be easier. Related to #35

[2020-03-07 17:03] azagaya commented on #36
I've tested in other systems and it seems to work fine now without the defines. Im removing them in bb004d8
Will add them again with proper conditionals if someone reports they are needed again.

[2020-03-07 17:03] #36 closed

[2020-03-26 18:12] azagaya commented on #4
If someone is interested, im slowly replacing opencv with Qt native image manipulation. It is supposed to be slower, but we can care about performance later, trying with smaller lib.

[2020-03-31 10:37] nonunknown opened #39 "[BUG] Dealing with large images crashes"
**platform**
ubuntu 19.10

**problem**
Hello, First I want to congrats the dev for receiving the EPIC MEGAGRANTS. This tool is very powerful for a open-source one like godot engine.
Okay, so i'm using very-large images like 4Kx4K or 8Kx8K, some images are like 36MB, to workaround this I use gimp to convert them into indexed color mode and it gets like 3mb, but Laigther still crashes. Related to #2

[2020-03-31 11:58] azagaya commented on #39
Hi!

Thanks a lot!

Yes, this has been a problem since the beginning... could you share me one of the images to make tests? The problem seems to be a very high memory consumption. All opened images ares stored in memory, with the generated maps, neighbours, etc. But even though i think the consumption shouldn't be that high.

You mean loading the image by chunks, but still leave them stored in mem

[2020-03-31 12:16] nonunknown commented on #39
Thanks for anwesring.

Here's the image:
![subzero-converted](https://user-images.githubusercontent.com/58845030/78024894-80378200-732f-11ea-837c-cf0e16fa1618.png)

About chunk-loading:
For example if you have a 32x32 image, divide it 8x8 load in memory only those divisions, and show-on-screen only 8x8 and them if the user wants  to see another parts show other chunk and hide the previous one, onl

[2020-03-31 12:23] azagaya commented on #39
Yeah, this could work. I need to think how to implement this currently in laigter.

[2020-03-31 12:31] nonunknown commented on #39
![laighter](https://user-images.githubusercontent.com/58845030/78026691-6cd9e600-7332-11ea-8f6b-28c1df24d4c4.png)

[2020-03-31 12:47] azagaya commented on #39
Also, this should be investigated. https://wiki.qt.io/Loading_Large_Images
Im using `load()` method, and that arcticle says i shouldn't

[2020-03-31 13:22] azagaya commented on #39
I could even use the QImageReaders to read chunks of the image.

[2020-04-04 14:09] DantonSlip opened #44 "Layers and Importing file"
Oh hey! As discussed on Discord, I just set you a reminder about layer functionality:
- External modification checkbox: in order to import our project/file modified in Laigter.
- Adding a slider in order to make layers transparent and easing the painting process.

Thanks for all your hard work!

[2020-04-04 14:36] azagaya commented on #44
hi! thanks for the suggestions. I'll try to add them. The slider part shouldn't be hard.

[2020-04-06 08:21] kusogaki77 commented on #5
Hi!  I can do the Japanese translation.  You'd have to support Unicode characters though.  Not sure if they're already supported...

[2020-04-06 08:27] Calinou commented on #5
@kusogaki77 They should already be supported, as the application is rendered using the system font as provided by Qt.

[2020-04-06 11:13] azagaya commented on #5
@kusogaki77 Hi!
Thanks for offering your help! If you are used to Qt, you can use QtLinguist to easily add a new translation. If not, for the repository, copy the `translations/laigter_en.ts` file into a renamed file with your locale sufix, and translate each tag between the `<translation></translation>` tags. I can add the rest myself, or guide you through the process if you need.

[2020-04-06 12:51] e170385 opened #45 "Numeric input, presets and file handling"
This is an awesome tool and I will keep using it in my current prop workflow. Therefore I would like to ask for a few minor enhancements to probably speed up the general process.

- Every Slider should have a numeric input field besides it.
I believe I saw something like that in the beta with a number inside the slider? But it seemed to be the main reason for crashes. Normal input field would be b

[2020-04-06 13:17] azagaya commented on #45
Hi! Thanks for the great feedback and suggestions!

I believe I saw something like that in the beta with a number inside the slider? But it seemed to be the main reason for crashes. Normal input field would be better anyways. (Unreal Engine does it right)

In 1.8.1 every slider already have the number inside the slider. I made some sort of poll in the past, and users seem to prefer this way. There

[2020-04-07 02:16] kusogaki77 commented on #5
@azagaya Should I change
<translation type="unfinished">X</translation> to <translation>X</translation>?

[2020-04-07 11:10] azagaya commented on #5
Hi! Thanks a lot! I'll check it as soon as i get some free time. I could send you a build with the language for you to test. Are you on windows or linux? If you are no MAC, i'm sorry but i don't have a MAC at home, and with the quarantine i cannot go out.

[2020-04-07 11:10] azagaya commented on #5
Sorry for the late response, it was late night here when you commented.

[2020-04-07 11:29] kusogaki77 commented on #5
You're very welcome.
Very understandable.  It's definitely best to limit going for a little more.

I'm used to building UE4, but I understand laigter requires additional
dependencies and setup, so if you could share a build with the jp language
in it, that save me considerable time.

I'm on Windows.

Thanks Azagaya!

On Tue, Apr 7, 2020, 8:10 PM azagaya <notifications@github.com> wrote:

[2020-04-08 07:50] e170385 commented on #45
Hey,

very nice to hear from you. I'm glad you like my suggestions. As a designer
I did some websites and interfaces in my time.
If you have any questions about user experience or usability, just let me
know. I would be glad to help with your awesome project.

Cheers
Erik

Am Mo., 6. Apr. 2020 um 15:18 Uhr schrieb azagaya <notifications@github.com

[2020-04-08 12:17] azagaya commented on #5
@kusogaki77 i'm sorry i couldnt make the binaries yesterday, i was too busy. Anyways, i'm adding some new strings due to project save/load. It would be nice if you could wait a couple of days and then add the translations to those few remaining strings, and then i'll send you the build. What do you think? if not, i can try to send you the build tomorrow.

[2020-04-09 06:19] kusogaki77 commented on #5
@azagaya Np at all.  I will wait until the new save/load strings are added. I'm not very good with github.  I'm not sure if I need to stop my pull request in order to submit another updated version of the ***jp.ts file again w/ the new strings.

jsyk, I forked your engine, duplicated the ***en.ts file, renamed it to ***jp.ts, added the translations and then committed it to my fork using smartgit.

[2020-04-09 12:31] azagaya commented on #5
@kusogaki77 you don't need to stop the pull request. If you need to add/change anything, just commit new changes to your repo, and the PR will update. So when i send you the binaries to test, you can only change/add what is needed and commit again.

[2020-04-10 12:07] azagaya commented on #29
Well, having added project load/save in master branch, i think this issue is complete! Please tell me if you think this should be reopened.

[2020-04-10 12:07] #29 closed

[2020-04-12 21:47] azagaya commented on #23
hey! After some rewrite of the rendering, i got this working. Is this what you expected?

![relative](https://user-images.githubusercontent.com/46932830/79080759-09ff2c00-7cee-11ea-9460-f8728bf6866f.gif)

[2020-04-14 08:16] kusogaki77 commented on #5
@azagaya I synced to your latest repo (as of 12 hours ago).  Running the app with the binaries you provided me, I fixed a few translations to be more natural, and added some missing translations.  Afaict, everything is translated.  I didn't see any additional strings that weren't there I initially submitted the PL.

[2020-04-14 11:11] azagaya commented on #5
Hi! thanks!
Its strange that you got no new strings... perhaps i forgot to update the translations files?
Well.. if its ok with you, i'll merge the PR, and perhaps we could add missing translations for next releaes. How would you like to appear in credits? I add all translators in a list in the about dialog.

[2020-05-02 22:16] azagaya commented on #23
I think this is fixed with the new world position. Im closing this, feel free to open if something is missing!

[2020-05-02 22:16] #23 closed

[2020-05-04 12:31] flamendless opened #56 "Weird Behaviour (See Screencast)"
See the attached zip file, it contains a video recording of the issue (sorry, i have no microphone)

Details:
1. Launching the app displays the window but with no content, you must first "click" inside or "move to another container (i3wm)" for the contents to finally show.
2. In order to see the changes when selecting widget, there must be first a "click" (not necessarily in the main window).
3. S

[2020-06-02 19:38] azagaya commented on #4
I replaced OpenCV with CImg.. it works for now, but the drop in performance is noticeable. Closing this for now.

[2020-06-02 19:38] #4 closed

[2020-06-16 11:40] Solstice245 opened #59 "Preview export seemingly not working properly"
I am trying to export the files for some images. Other maps come out fine, but the preview export outputs an unusable image.

Example:
  [Source Image](https://i.imgur.com/Ej1QO8z.png)
  [Specular Output](https://i.imgur.com/4Vc3Q3I.png)
  [Preview Output](https://i.imgur.com/DTFRecz.png)

[2020-06-16 11:43] azagaya commented on #59
Hi! Thanks for reporting the issue. I'm sorry for the trouble caused. I'll look at it as soon as i can.

[2020-06-16 11:45] Solstice245 commented on #59
[LaighterProject.zip](https://github.com/azagaya/laigter/files/4786324/LaighterProject.zip)

Here is the full project file if it helps any.

[2020-06-16 11:46] azagaya commented on #59
@Solstice245 would you tell me which version of Laigter are you using and if you are trying to export with the toolbar button or the button in the export dock?

[2020-06-16 11:47] Solstice245 commented on #59
The version is 1.9.2. I exported with the button on the bottom right.

[2020-06-16 11:49] azagaya commented on #59
Yeah, it seems to be a bug with animation. I seems to works fine with single images. I'll try too look at this soon.

[2020-06-16 11:57] azagaya commented on #59
It also seems that if you have multiple textures, it just exports the preview of the first.
You could work arround this for now this way.
1- Save the settings you are using
2- Open one frame, and export the preview
3- Open the other frame, remove the previous frame, and export again.
I'll try to fix this soon.

[2020-06-16 12:14] Solstice245 commented on #59
On my end it's behavior does not change even when I have just one image in the project. I'll add that the project crashes when I attempt to reopen it. Oh well, I guess for now I should try using a more stable version.

[2020-06-16 12:17] azagaya commented on #59
Well, i'm not able to reproduce that behaviour.. Ill have to look deeper on it. Meanwhile, i exported the previews with your textures with the workarround i told you.
![PlatformCliffTile1Test_v](https://user-images.githubusercontent.com/46932830/84773052-39623b80-afb2-11ea-8171-862cd9771321.png)
![PlatformCliffTile2Test_v](https://user-images.githubusercontent.com/46932830/84773057-3b2bff00-afb2-1

[2020-06-16 12:23] Solstice245 opened #60 "Zoom out broken in 1.10.1"
A second separate issue I had with 1.9.2 was the zoom out was not functional. I could only zoom in or reset the zoom level. This issue does not exist for me in 1.9.1.

[2020-06-16 12:46] azagaya commented on #60
Hi! could you tell me the operative system you are using?

[2020-06-16 12:51] Solstice245 commented on #60
64bit machine with Windows 10.

[2020-06-16 13:40] azagaya commented on #60
I just tried in Windows 10 64 bit machine, and the zooms works fine in this pc. Both the wheel and the buttons in the toolbar. Perhaps someone else could reproduce this and help me.

[2020-06-16 15:56] azagaya commented on #59
Well, i fixed the problem with opening the project i think.

[2020-06-16 20:28] azagaya commented on #59
fixed [here]( https://github.com/azagaya/laigter/commit/4608bb9b31fc5ddb9fc68141d04564899470c824)
Thanks for reporting!

[2020-06-16 20:28] #59 closed

[2020-06-26 11:39] ffyhlkain opened #61 "Presets aren't exported on Windows 1.9.2"
The preset manager doesn't export the preset file into the specified folder. The files are still created in the apps data folder (<user>/Roaming/Laigter/Presets)

![export](https://user-images.githubusercontent.com/2485174/85853122-451fe000-b7b2-11ea-8331-d6691a2e2e1e.gif)

[2020-06-26 11:55] ffyhlkain commented on #61
Seems like a permission issue. If I start the app with administration permission, it works fine. An error warning would be nice though if the file can't be saved.

[2020-06-26 12:28] ffyhlkain commented on #61
Ok, found out that I was exporting into the Laigter folder (which needs admin permission as it is located in the Programs folder). Works fine when exporting into other folders (like my project folder). Still an error message popup would be great when exporting wasn't successful.

[2020-07-02 12:53] azagaya commented on #61
I'll have to add a message about permission issues. Thanks for reporting!

[2020-07-11 02:17] creepertron95 opened #63 "Suggestion for a new application icon"
Hi, I wanted to suggest a new application icon for Laigter.

Here is the icon I created:
![laigter256](https://user-images.githubusercontent.com/53346722/87214054-45aa9180-c2ef-11ea-994e-2df9adebe4ad.png)

SVG file at the bottom of issue

---
[laigter.tar.gz](https://github.com/azagaya/laigter/files/4906125/laigter.tar.gz)

[2020-07-11 02:50] azagaya commented on #63
Hi! thanks a lot for the suggestion, your icon is much better than the current one! I would be very happy to use it for Laigter. So, i assume you are letting me use it freely, with no restrictions license or whatever right?
And could you share me also another one without the shadow? for using as light icon inside the app.

[2020-07-11 03:29] creepertron95 commented on #63
The icon is free for you to use. I have attached an archive that contains svgs of the no shadow version and a symbolic version of the icon.

![laigters](https://user-images.githubusercontent.com/53346722/87215509-c4f29200-c2fc-11ea-8f2e-c0675d640476.png)

---
[laigter-extrasvgs.tar.gz](https://github.com/azagaya/laigter/files/4906215/laigter-extrasvgs.tar.gz)

[2020-07-11 13:13] azagaya commented on #63
Thanks a lot! Ill change them today. How would you like to be named in credits?

[2020-07-11 13:30] azagaya commented on #63
What do you think?
![image](https://user-images.githubusercontent.com/46932830/87225126-2b110080-c361-11ea-8c9f-9da3bc8a1e5a.png)

[2020-07-11 13:48] creepertron95 commented on #63
I think I will go by the name: creepertron95. The flame icons look awesome.

As aside: Perhaps the add light/flame icon should be updated as well?

[2020-07-11 14:07] azagaya commented on #63
Yeah, i should change the add light icon also. Thanks for mentioning. I can add the SVG source in the repo, sure. In the app, ill use the pngs, but it would be useful to have the svg there too.

[2020-07-11 14:28] azagaya commented on #63
I changed the icons, added you to contributors info tab, in this commit d44b451
Should we already close this as solved?
Thanks a lot!

[2020-07-11 14:38] creepertron95 commented on #63
Maybe I can improve the itch.io banner and thumbnail as well.

[2020-07-11 15:18] azagaya commented on #63
That would be great! Yeah i used ubuntu font, with some borders. But is not needed to stick with that font. If you make the banner, would you leave some space for the megagrant logo there please?

[2020-07-11 15:25] creepertron95 commented on #63
Do you have the original image of the logo text? I will make sure the megagrant logo is there as well.

[2020-07-11 15:29] azagaya commented on #63
Yes, i have all the original alternatives to the logo they sent me. I dont know if im allowed to share them by epics. I assume there should be no problem? Anyways its added to the readme so anyone can download it i guess. When i get back to the computer ill send you the image.

[2020-07-11 15:34] creepertron95 commented on #63
Oh, I meant the original Laigter logo.

[2020-07-11 15:57] azagaya commented on #63
No, sadly i lost the original file on my old computer. I didn't save it to the repo. The only thing i have is the exported png.
![image](https://user-images.githubusercontent.com/46932830/87228191-de83f000-c375-11ea-8b90-5e1139079ec6.png)

[2020-07-11 16:00] creepertron95 commented on #63
What do you think of this new logo?
![laigter-logo-preview](https://user-images.githubusercontent.com/53346722/87228264-bb514480-c365-11ea-913d-c2a11f1439b1.png)

[2020-07-11 16:07] azagaya commented on #63
yeah its great!

[2020-07-11 16:08] creepertron95 commented on #63
I will post the logos and images shortly.

[2020-07-11 16:08] azagaya commented on #63
Thanks a lot! i really appreciate your help.

[2020-07-11 16:29] creepertron95 commented on #63
Here are the logos:

![laigter-logo](https://user-images.githubusercontent.com/53346722/87228767-ebe6ad80-c368-11ea-8b45-af9b279c3af9.png)
![laigter-logo-black](https://user-images.githubusercontent.com/53346722/87228768-f0ab6180-c368-11ea-80bd-464c0943f9a3.png)
![laigter-logo-white](https://user-images.githubusercontent.com/53346722/87228775-f6a14280-c368-11ea-930e-d5e528b4bdf8.png)

And the itch

[2020-07-11 16:31] azagaya commented on #63
Wow thanks a lot! I may use the logos for a splash screen to be added soon. Ill use the banner for both itchio and the readme here on github. The thumbnail is going to appear in the browsers tab right?

[2020-07-11 16:33] creepertron95 commented on #63
The thumbnail is for the itch io thumbnail that is currently there.
![laigter-thumpreview](https://user-images.githubusercontent.com/53346722/87229000-56e4b400-c36a-11ea-8b05-4f1475bf9462.png)

[2020-07-11 16:36] azagaya commented on #63
Yeah, i know. But it also appears in the browser tab right?
![image](https://user-images.githubusercontent.com/46932830/87229044-63253d00-c37b-11ea-8e25-da6ac0e7e173.png)
I already added the banner and thumbnail
Thanks a lot! I will probably use the same thumbnail, but changing the icon for a brush, for laigter's plugins page.

[2020-07-11 16:42] creepertron95 commented on #63
I think you can use the application icon for the browser tab. Try using the application icon as a favicon for the browser tab.

[2020-07-11 16:45] azagaya commented on #63
Yeah, i discovered it right now. Thanks!

[2020-07-11 16:47] creepertron95 commented on #63
And I think that should be all of it.

[2020-07-11 16:53] azagaya commented on #63
Yeah, i use gimp a bit every now and then. I used to do flyers for my band with it in the past.
What font did you use for the laigter logo?

[2020-07-11 17:03] creepertron95 commented on #63
Oh, I created it myself using Inkscape.

[2020-07-11 17:10] azagaya commented on #63
Ah ok, i just planned to add put something like "Laigter's Plugins" or something. That can wain anyways, or i can make something myself.
Thanks a lot again! I'm going to include the press kit in the repo, and close this by know. What do you think?

[2020-07-11 17:13] creepertron95 commented on #63
Sure, include the press kit and the issue should be complete.

[2020-07-11 17:54] azagaya commented on #63
Thanks a lot!

[2020-07-11 17:54] #63 closed

[2020-07-12 22:41] dariuspranskus opened #64 "On MAC laigter freezes when trying to select something in Visualization/View Mode drop down"
I am on MAC (currently on Big Sur beta, not sure if this is the case here), but when I try to select a different view mode, the drop down doesn't open and laigter freezes.

![image](https://user-images.githubusercontent.com/15170614/87258132-aea72a80-c4e4-11ea-9620-7fe153d177b7.png)

[2020-07-12 22:47] azagaya commented on #64
Oh, thats strange. Let me try to reproduce it and ill get back to you.

[2020-07-13 01:45] azagaya commented on #64
Hi!
I tested on Mojave, and could not reproduce this problem. If somehow i can get more info, i would be able to try it out. For now, i only can wait a contributor with your OSX version can compile laigter and try to debug it.

[2020-07-13 03:35] webocs commented on #64
Can't reproduce it in mojave, any clues other than the OS version? Can you run the app from the terminal and see the output?

[2020-07-13 03:46] dariuspranskus commented on #64
Tried to compile with Qt on Big Sur, and it works fine, probably this is some Big Sur incompatibility with the release build.

[2020-07-13 03:51] dariuspranskus opened #65 "Export transparent pixels as transparent in the normal map (premultiply alpha)"
Hi

Not sure if there is such a feature in laigter, but I would use one if available. I need this, because I want to pack all my normal maps into an atlas, and I strip all transparent pixels to fit all my sprites into one 2048x2048 page. Then I deal with the striped sprites in my app.

is it available, if not may I request an option in export to premultiply alpha onto exported normal maps?

Thank

[2020-07-13 03:56] #64 closed

[2020-07-13 03:57] dariuspranskus commented on #64
Closing, for the compiled app works fine on Big Sur.

[2020-07-13 10:34] azagaya commented on #65
Hi! Currently there is no such option as tradicionally normal maps are just rgb images. But i could add it for next version. It was requested once in the past too. You mean, using the same transparent pixels as in the original image right?

[2020-07-13 10:36] dariuspranskus commented on #65
@azagaya Yes, correct. Thank you. Appreciate that.

[2020-07-13 12:12] azagaya commented on #65
Would it be better to have that option per each image or global? It wouold be easier to add per image i think, but would it make it more flexible or just more difficult to use?

[2020-07-13 18:49] dariuspranskus commented on #65
One of the possible ways would be as follows. Currently, normal map settings (in the pane on the left) are applied to the selected images. Could we have a check box there, and apply it to the selected images as well? We can name it something like "Preserve alpha". Setting this option would cause the preview to show the transparent pixels and then cause images to be exported with transparent pixels

[2020-07-13 19:06] azagaya commented on #65
Hi, yeah, i already did that before your response :)
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/46932830/87343122-c00f2780-c522-11ea-9f90-0efd72545d1e.gif)
Ill push it today

[2020-07-13 19:57] dariuspranskus commented on #65
@azagaya Amazing. Thanks

[2020-07-13 19:58] dariuspranskus commented on #65
@azagaya When this will be available?

[2020-07-13 20:08] azagaya commented on #65
@dariuspranskus i just pushed it. you can try it compiling the master branch. If it works for you, i can close this.

[2020-07-13 20:19] cassiussa commented on #60
I get the same problem in version 1.10 as well. Can only zoom in, no zoom out.  Scroll wheel zooms in, regardless of the direction I scroll.

[2020-07-13 20:23] cassiussa opened #66 "Changing settings stops working after going into "Preview""
In version 1.10 on OSX, as soon as you go into the Preview mode you can no longer change any of the settings.  Updating the values does nothing.  If, however, you go into the Presets panel after and simply click Apply, you're then able to again change the settings and have them applied until the next time you go into Preview.

[2020-07-13 20:25] azagaya commented on #60
I just tested on MAC and it was working. IDK why i cannot reproduce this. I will continue investigating this. sorry for the inconveniences.
Does it also fails with touchpad?

[2020-07-13 20:27] azagaya commented on #66
Hi! What version of OSX? We tried yesterday and worked ok. Maybe platform independent problem?

[2020-07-13 20:31] cassiussa commented on #60
Yes, same issue with touchpad.  In fact, I just noticed that even the + and - icons only zoom as well.   So to recap, the +/- icons, touchpad, and scroll wheel on the mouse all only zoom in, regardless of which you choose.

[2020-07-13 20:33] azagaya commented on #60
Wow, that super strange, because i hardcoded positive and negative zoom to those buttons.

[2020-07-13 20:37] cassiussa commented on #60
I haven't been able to locate the relevant lines in code yet but am having a quick look.

[2020-07-13 20:41] azagaya commented on #60
[Here](https://github.com/azagaya/laigter/blob/master/src/open_gl_widget.cpp#L523) you have the code for the wheel @cassiussa

[2020-07-13 20:42] azagaya commented on #60
And [here](https://github.com/azagaya/laigter/blob/master/main_window.cpp#L677) for the toolbar buttons. If you help me debug this, it would be great!

[2020-07-13 20:44] azagaya commented on #60
May it be possible that for some systems, the wheel is reporting angle in x instead of y as expected?

[2020-07-13 20:53] azagaya commented on #60
Perhaps your mouse has too much definition? Im assuming 8 degrees on mouse movement because of Qt docs. But smaller resolution would cause that division always returning 0, thus you would zoom always in the same direction. I could try something like this.
[code]
would you be able to try if I try that change?

[2020-07-13 20:53] cassiussa commented on #60
Hmm, that's possible.  Yes, I can give it a try if you're able to perform a build?

[2020-07-13 20:54] azagaya commented on #60
Mac builds are done automatically, you can grab them on continuous tag in releases when done.. ill let you know. Give me some minutes.

[2020-07-13 20:54] cassiussa commented on #60
Oh wait.  But would that still explain why the icons also do the same?

[2020-07-13 20:55] azagaya commented on #60
No it wouldn't really. But i'm running out of ideas hehe, cause in the systems i tried, it works!

[2020-07-13 20:59] cassiussa commented on #60
The reproducibility curse!

[2020-07-13 21:07] cassiussa commented on #66
This is on Catalina.  10.15.3 (19D76) specifically.  I haven't tried compiling from source as unfortunately I don't have the tools available to me.  But I can give it a go on latest build if there's an osx binary build?

[2020-07-13 21:23] cassiussa commented on #60
I gave it a whirl on the release from 17 minutes ago in Continuous tag.  Unfortunately the issue persists.  and I'm not really seeing anything in code that say "here's why" to me. :(

[2020-07-13 21:28] azagaya commented on #60
I need someone who can reproduce and debug this, cause everywhere i test, works fine... I'll mark this with help needed tag

[2020-07-13 21:32] cassiussa commented on #60
I'll see if I can get together some tools and run through some tests and debug.  c++ isn't a language I usually work in but can give it a shot.  Happen to know of a decent tool for OSX to compile this?  Have used this tool a bunch over the last 6 months or so and would definitely like to keep using it!

[2020-07-13 21:47] azagaya commented on #60
@cassiussa the best and easiest way to compile it would be using Qt Creator. You can see some vague instructions [here](https://github.com/azagaya/laigter#compiling-on-macos). The easiest way to install Qt Creator and all the framework is from qt online installer from qt.io (make sure to chose open source version). Sadly, since some months ago, for using Qt Creator and online installer you must re

[2020-07-13 23:00] azagaya commented on #60
Maybe its the retina pixel ratio. Let me try something new.

[2020-07-13 23:24] azagaya commented on #60
@cassiussa would you try the build on continuos right now?

[2020-07-13 23:48] dariuspranskus commented on #65
@azagaya Looks good to me. Good work. Thank you. Closing it now.

[2020-07-13 23:48] #65 closed

[2020-07-14 00:18] cassiussa commented on #60
@azagaya woohoo.  You got it!  I was also wondering if it was Retina but wasn't able to post here due to parental duties.  I can confirm that, at least on my Mac, scroll wheel, touchpad, and the +/- options all do what is expected.

Thanks so much for fixing that up.  Looking forward to trying a newer version than I currently run.

[2020-07-14 00:47] azagaya commented on #60
@cassiussa nice to hear it! it was logical now that i think. But that change can cause unexpected behaviours, so please tell me if you notice anything strange. Closing this for now, but feel free to reopen it.

[2020-07-14 01:42] azagaya commented on #66
Now we have to fix this..

[2020-07-14 02:07] cassiussa commented on #66
Further to this, I also notice the issue only occurs when, within Preview, I move the light.  If I do not move the light and go back to Normal Map, for example, I can continue to adjust the settings and see the result.  If in Preview I move the light, when going back to Normal Map (or any other) _then_ changing the settings doesn't result in any change to the image.

[2020-07-14 03:02] azagaya commented on #66
probably a dumb question, but do you click again the texture before attemtping to change settings right?

[2020-07-14 03:16] cassiussa commented on #66
Am I supposed to click the texture again?  I haven't been, no.  Just tried that now but the same results.

[2020-07-14 03:19] cassiussa commented on #66
After doing that 3 times it did work. Let me see if I can find the pattern as to why my 3rd try was successful

[2020-07-14 03:32] cassiussa commented on #66
ok this is probably going to sound crazy...

All the below are after visiting the Preview Mode.  And I only tested with Normal Map mode, not the others.

1. I can consistently get the changes to take effect with Normal Map, for example, if I not only click the image but move it.  From that point forward the settings work.  Verified this 5 times in a row.
2. I can only get changes to take effect ra

[2020-07-14 10:44] azagaya commented on #66
Oh i see. Thats strange, but at least we got some leads. The need to clicl the texture comes from the fact that when you have multiple textures, you may want to change settings only to some of them, so you have to select.
For some reason, clicking is not enough in your system to select, you also have to move. Its like if the click event is not trigered until you move, idk why. Sorry for late respo

[2020-07-14 10:57] azagaya commented on #66
Its also possible that when fixing retina bug yesterday, scale and position end up in a wrong value, so some times its not considering you are clicking the texture.. would you try if clicking works in 1.10 from itch instead of int the current continuous release?

[2020-07-14 15:09] cassiussa commented on #66
No need to apologize for the late reply, LOL.  I was also sleeping too. :)

I can confirm that in 1.10 a single click on the image allows for updating after, so it seems like the revisions to allow for zoom on OSX may have resulted in this issue.

[2020-07-14 15:53] azagaya commented on #66
Im shooting in the dark right now, but would you try last continuous build?

[2020-07-14 16:51] cassiussa commented on #66
Sorry for the delay.  Single dad of 3yr old and I'm at home through Covid ;)  So my attention is elsewhere.  LOL.  Anyways, yes, whatever changes you made appear to have fixed that up!

[2020-07-14 16:53] azagaya commented on #66
No problem! thanks for helping me debug this! Ill close this then. If you notice anything else strange, please feel free to comment on this even if its closed, so i can reopen. I will also change the tittle of the issue to a better representation of what happened.

[2020-07-14 16:53] #66 closed

[2020-07-15 14:38] azagaya commented on #61
Hi! added the messages here 7a3db5d4a9ce1c48007a1d01243d0c21aa4b0d2f.
Closing this for now!
Thanks for reporting!

[2020-07-15 14:38] #61 closed

[2020-07-20 18:10] creepertron95 commented on #63
@azagaya What do you think of these icons I designed for Laigter?

![newlight](https://user-images.githubusercontent.com/53346722/87970973-39aa9680-ca8a-11ea-8957-bc2d90a2a011.png)

[2020-07-20 18:23] azagaya commented on #63
@creepertron95 they are really nice! I would definitely use them! are them svgs?

[2020-07-20 18:25] creepertron95 commented on #63
Yes, I just need to make them separate and upload them as svgs. I will post the archive when I am done.

[2020-07-20 18:29] azagaya commented on #63
great thanks! In the gui i use png, but having them in svg would be nice in order to being able to export in different colors for different themes. I havent found a way to change color dinamycally though.

[2020-07-20 18:54] creepertron95 commented on #63
I made an archive of the icons in svg format.

The icons are designed to be 24x24.

The small animation dock buttons (close and undock) are designed to be 10x10.

I also made a filetype icon for Laigter projects.

[laigter-icons.tar.gz](https://github.com/azagaya/laigter/files/4949524/laigter-icons.tar.gz)

[2020-07-20 19:03] azagaya commented on #63
Cool thanks a lot! I'll add them as soon as i have some time.

[2020-07-22 12:53] azagaya commented on #63
Apparently, i can just use svg as icon.

[2020-07-22 18:15] azagaya commented on #63
@creepertron95 hey! would you make also an "export preview" icon please?
Thanks in advance

[2020-07-22 18:37] creepertron95 commented on #63
@azagaya I will go ahead and start making those icons.

[2020-07-22 18:37] azagaya commented on #63
Thanks a lot!

[2020-07-22 18:38] creepertron95 commented on #63
How's the implementation coming so far?

[2020-07-22 18:47] creepertron95 commented on #63
@azagaya I created the icons for Delete and Export Preview.

![laigter-extra-icons](https://user-images.githubusercontent.com/53346722/88215713-b328bd00-cc21-11ea-8b6d-6f3e41919de6.png)

[extra-laigter-icon.tar.gz](https://github.com/azagaya/laigter/files/4961904/extra-laigter-icon.tar.gz)

[2020-07-22 18:50] azagaya commented on #63
Great! thanks!

[2020-07-22 18:53] creepertron95 commented on #63
@azagaya I decided to create a few more icons in case. A Laigter and a default plugin symbol.

![few-more](https://user-images.githubusercontent.com/53346722/88216402-a789c600-cc22-11ea-8b4b-7c21175daee6.png)

[a-few-more.tar.gz](https://github.com/azagaya/laigter/files/4961938/a-few-more.tar.gz)

[2020-07-22 18:58] azagaya commented on #63
Thanks! Im trying to use the theme system in Laigter, in order to be able to select icon based on the selected theme. There are no themes right now, but for future releases there will be.

[2020-07-23 00:28] creepertron95 commented on #63
Since the icons for the interface are getting overhauled and theme system implemented. Should the brush plugin icons be redesigned as well?

![brush-plugins](https://user-images.githubusercontent.com/53346722/88241946-4c22fc80-cc51-11ea-88a0-a8628b2764d5.PNG)

[2020-07-23 11:32] azagaya commented on #63
yeah that should be needed too! also, some icon for the theme selector button would be nice

[2020-07-23 12:38] creepertron95 commented on #63
@azagaya I created an archive for those icons. Added icons for all 3 brush plugins. Added a theme selector icon and a settings icon. I also added a brush-template icon as a template for making icons for brush plugins.

peakBrush and roundBrush icons are designed to be 32x16.

![laigter-brush-icon](https://user-images.githubusercontent.com/53346722/88286889-17499080-ccb7-11ea-991a-f3c0bd5e9b28.png)

[2020-07-23 12:46] azagaya commented on #63
Great thanks a lot!
Ill add them today.

[2020-07-23 14:38] creepertron95 commented on #63
@azagaya Could I see a screenshot of the program after the icons are implemented to see what they look like in the GUI.

[2020-07-23 15:20] azagaya commented on #63
sure!
![imagen](https://user-images.githubusercontent.com/46932830/88304527-c352a200-ccde-11ea-8e42-bd6187dc02b0.png)
![imagen](https://user-images.githubusercontent.com/46932830/88304590-dd8c8000-ccde-11ea-93a0-489ebe9ee1f5.png)
Dark theme is WIP

[2020-07-23 15:22] creepertron95 commented on #63
@azagaya I see the plugin icons are a bit blurry. Have you scaled them to 24x24px?

[2020-07-23 16:08] azagaya commented on #63
Yeah, i exported them in 48x48, and scaled to 24x24 in the gui. I undesrtood that was what you recommended.

[2020-07-23 16:19] creepertron95 commented on #63
@azagaya The other icons are fine. I was talking about these icons. They are still 20x20 in the gui.

![no24](https://user-images.githubusercontent.com/53346722/88311108-1b38db00-ccd6-11ea-9641-1a75583b519f.png)

[2020-07-23 17:02] azagaya commented on #63
But you can check them here https://github.com/azagaya/laigter/blob/master/icons/Classic%20Laigter/custom-icons/plugin-delete.png
They were exported as 48x48, and set to 24x24 while loaded in the gui. IDK what could be wrong.

[2020-07-23 17:04] azagaya commented on #63
Ok
i found it.. I was setting the wrong toolbar icon size. Sorry

[2020-07-23 17:09] azagaya commented on #63
![imagen](https://user-images.githubusercontent.com/46932830/88316378-239d1000-ccee-11ea-8854-e8ee3f913c1a.png)
here it is @creepertron95 !

[2020-07-27 15:18] azagaya commented on #63
@creepertron95 release with new icons is now out! you can get it on itch

[2020-08-03 23:40] creepertron95 commented on #19
@azagaya Here is a screenshot of the default image. The first image with the skull.

I'm not sure of what images to showcase at the moment.

Should the video on the webpage be redone as well?

![laigter-screen-1](https://user-images.githubusercontent.com/53346722/89237362-9cd31780-d5b8-11ea-9664-0d261bfda0cc.png)

[2020-08-04 11:25] azagaya commented on #19
Hi thanks! I should look for images that look cool to take more screenshots. The idea is to showcase a bit of major features. I'll look for the previously used textures, and share them here. Perhaps gifs would be better to show some features like tile-x and tile-y, brushes, and so.
About the video, i was meant to replace it once i finish writing documentation, so we can decide what we put on it. W

[2020-08-04 11:27] azagaya commented on #19
![stones](https://user-images.githubusercontent.com/46932830/89288547-35ef4600-d62c-11ea-8954-fbfbe29bbcba.png)
![tree1](https://user-images.githubusercontent.com/46932830/89288555-38ea3680-d62c-11ea-8ba8-1f859aa77d04.png)
![bricks2](https://user-images.githubusercontent.com/46932830/89288559-3a1b6380-d62c-11ea-868a-a91ec34606ce.jpg)
this are some of the images i used back then.. the tree and ston

[2020-08-04 13:59] creepertron95 commented on #38
@azagaya Do you think this problem is solved now with the new version?

[2020-08-04 14:01] azagaya commented on #38
@creepertron95 Yes its solved i think, thanks for the reminder. The only think we need to take into account is making the new colors when creating a new theme.

[2020-08-04 14:01] #38 closed

[2020-08-04 14:03] creepertron95 commented on #19
@azagaya I think I have an idea to find more images. You could have the community (Discord, Twitter, etc.) show off their work in the new version for screenshots.

[2020-08-04 14:05] azagaya commented on #19
Yes, i asked them some time ago, but everybody told me they had nothing ready to show. Ill porbably ask again. Perhaps we could use sprites of my own wip game also. I'll ask the artist if he is ok with that.

[2020-08-05 14:06] creepertron95 commented on #35
@azagaya I was wondering, Is QtAwesome still being considered?

[2020-08-05 14:33] azagaya commented on #35
I dont think so. The icons looks right now, and is not difficult to change colors. I prefer custom icons as you designed, and also, some icons like the add light one wouldnt have a similar one in Qt Awesome. Using QtAwesome would mean also we need another third party dependency. Ill close this, thanks for reminding me!

[2020-08-05 14:33] #35 closed

[2020-08-05 15:06] maxtron95 opened #70 "Custom Theme Support"
Hi, I was wanting to suggest custom themes now that the theme selector is implemented. I have a few suggestions.

1. Allow user to have custom window colors and custom icon themes.

2. The dialog that appears after selecting the theme manager icon, That dialog is titled `Form`. I think should be labeled something like `Theme Manager`

3. I made a quick sketch of my ideas.
![lgtr-theme](https://use

[2020-08-05 15:19] azagaya commented on #70
Yes, i thought of something like that. The thing is now themes should be loaded as resources at compile time. I need to experiment on setting a directory, a template stylesheet file so user can easily change colors (even from a gui perhaps), and a function to programatically change colors of the svg icons to generate the corresponding ones. I made a bash script to help me to do the icon color chan

[2020-08-10 15:09] creepertron95 commented on #19
@azagaya I took another screenshot to show off the Pixelated feature.

![laigter-screen-2](https://user-images.githubusercontent.com/53346722/89798139-6e41c900-daf1-11ea-93fa-556d8c299884.png)

I created the sprite with Aseprite.
![azagaya](https://user-images.githubusercontent.com/53346722/89798181-7bf74e80-daf1-11ea-927c-6f971f2bbfc2.png)

[2020-08-10 15:25] azagaya commented on #19
Cool thanks a lot! Ill include it soon in the readme!

[2020-08-10 16:01] creepertron95 commented on #19
@azagaya I can be able to upload the pictures. I had to reset my internet. This should pretty much cover all of the current screenshots on gihtub.

![laigter-screen-3](https://user-images.githubusercontent.com/53346722/89803516-8cf78e00-daf8-11ea-8e5d-56dffd6fc408.png)
![laigter-screen-4](https://user-images.githubusercontent.com/53346722/89803543-95e85f80-daf8-11ea-8738-9b85d3d2cfb0.png)
![laigte

[2020-08-10 16:15] creepertron95 commented on #19
@azagaya Do you still have this image that is featured on your itch io page?
![Uxa_Sd](https://user-images.githubusercontent.com/53346722/89805120-c9c48480-dafa-11ea-9b7f-b461a036864d.png)

[2020-08-10 17:02] azagaya commented on #19
I think i should have it.. ill look for it after work!

[2020-08-11 11:50] azagaya commented on #19
Sorry, i was to busy yesterday, today ill look for that image and replace the screenshots.

[2020-08-11 21:01] azagaya commented on #19
![cave-ground-with-stonepath-mid](https://user-images.githubusercontent.com/46932830/89948476-9407c480-dbfc-11ea-9e5d-1cc2b883c686.png)
![cave-ground-mid-mid](https://user-images.githubusercontent.com/46932830/89948479-9538f180-dbfc-11ea-9926-648f5bf48f5e.png)
Hi! this are those missing sprites.

[2020-08-14 14:25] azagaya commented on #19
I updated the screenshots of the appdata xml file, and of the readme. This issue should remain open in case someone wants to share their own screenshots.

[2020-08-24 18:54] ELZURIX opened #72 "Feature: Selection of default directory for projects"
Just an option to select the folder containing all of your projects so that every time you start the program you'll open files from there

[2020-08-24 18:55] ELZURIX opened #73 "Feature: Create a new project, with a blank canvas"
This will create a new project, I just end up reopening the program every time I want to start a new project, and maybe starting up with a white canvas, nothing against your logo but if I would prefer it to be a sprite that I can delete so I can have a blank project but if you prefer not to do that I understand

[2020-08-24 18:56] #72 closed

[2020-08-24 19:02] ELZURIX commented on #73
- [ ] A way to select your default projects folder
- [ ] Make middle-click pan the view and not move objects
- [ ] Setting a default project directory
- [ ] Double-clicking a slider renames it, instead of clicking the text
- [ ] An option to create a blank project, with a blank canvas and make the logo a sprite (maybe)
- [ ] Default project at startup, with custom export settings and light color a

[2020-08-24 19:23] Calinou commented on #73
It's better to create one issue per feature than cram them all into a single issue, even if they're small items individually. This way, they're easier to discuss.

[2020-08-24 19:23] Calinou commented on #72
Superseded by #73.

[2020-08-24 19:32] azagaya commented on #73
Thanks @Calinou ! @ELZURIX reached me on discord, and i told him to do this, but surely you are right.. perhaps we can switch to individual issues when i start working on them.. From now on, i will ask for sepparate issues.

[2020-09-16 05:58] HeroicNate commented on #60
Using the 1.10.1 portable build on windows I have the zoom issue downloading from itch and github.  Whether I use the mouse wheel or the UI button for zoom out, it always zooms in.

After reading through this list of comments I tried it on another lower resolution monitor and the issue went away. It doesn't work properly on my 4k monitor.

[2020-09-16 12:39] azagaya commented on #60
ok! i'll reopen this And start looking for a solution.

[2020-09-27 15:39] azagaya commented on #60
@HeroicNate would you try the last release? [1.10.2](https://github.com/azagaya/laigter/releases/tag/1.10.2)

[2020-09-27 15:42] azagaya commented on #60
wait, ill have to reupload windows binaries

[2020-09-27 16:02] azagaya commented on #60
Now it should be there

[2020-09-27 19:02] HeroicNate commented on #60
That solved the zoom problem! It leaves a very small UI now but the functionality is working.
[Screen capture](https://cdn.discordapp.com/attachments/663542917540872215/759852171910447144/unknown.png)

[2020-09-27 19:35] azagaya commented on #60
Cool!

[2020-09-27 19:35] #60 closed

[2020-09-29 20:48] behelit2 opened #75 "Compile instructions do not work for Fedora Linux."
I went through the compile instructions and made sure all dependencies are installed. When I went to build, everything appears to build okay. However, when I go to run laigter.pro, I get this:
[code]
How on earth would I fix this? I would really like to get this working in Linux, my entire workflow is there. It would be a royal PITA if I had to boot into Windows every time I wanted to use this app

[2020-09-29 20:57] Calinou commented on #75
`laigter.pro` is not an executable file. It's a Qt project file that can be used to generate a Makefile using `qmake-qt5|.

[2020-09-29 21:10] behelit2 commented on #75
Yeah... I tried using qmake-qt5 in the build directory, and like I said it built okay without any errors. But there is no obvious way to execute the freaking program. Do I need QtCreator for this method?

PS: I tried one of the binaries and it seems to work fine.

[2020-09-29 21:24] azagaya commented on #75
@behelit2 as @Calinou said, laigter.pro is just used to generate the makefile to compile the project after.
So first you run `qmake-qt5` in laigters directory, after that you run `make` and a binary called `laigter` with no extension should appear there... you should be able to run it.

[2020-09-29 21:27] behelit2 commented on #75
@azagaya Ah, that's the confusion. No laigter file appeared after the compile, but I didn't notice any errors while compiling... Weird. Anyway, the binary works fine. Thanks for the replies.

[2020-09-29 22:39] azagaya commented on #75
I'll colse this then.

[2020-10-01 13:46] behelit2 commented on #75
Just to be clear, this issue isn't resolved... But I found an acceptable solution. I'm pretty sure it's not compiling correctly in Fedora on the command line.

[2020-10-01 13:49] azagaya commented on #75
Ok.. ill reopen this.. but i thought @Calinou compiled fine on fedora.  Could you re do the compile steps and paste the output here please?

[2020-10-01 14:01] behelit2 commented on #75
Sure.
[blah@localhost ~]$ sudo dnf install qt5-devel mesa-libGL-devel

We trust you have received the usual lecture from the local System
Administrator. It usually boils down to these three things:

    #1) Respect the privacy of others.
    #2) Think before you type.
    #3) With great power comes great responsibility.

[sudo] password for blah:
Last metadata expiration check: 2:16:21 ago on Thu

[2020-10-01 14:11] azagaya commented on #75
There is an error with the icon themes.. could you check the version of qt with `qmake-qt5 --version`?

[2020-10-01 14:28] behelit2 commented on #75
Sure, it's:

[code]

[2020-10-01 14:33] azagaya commented on #75
Oh, you need qt 5.14 at least.. what fedora version are you using? You should check if qt 5.14 is available in the repos.

[2020-10-01 14:41] behelit2 commented on #75
Ah, I was confused by the naming convention. I assumed 5.7.1 was higher than 5.14 at a glance. This can be closed, I tried with the updated libraries and it works fine.

[2020-10-01 14:55] azagaya commented on #75
Im glad it worked! I'm closing it again then.
Thanks for helping me test this.

[2020-10-01 14:55] #75 closed

[2020-10-27 09:09] cronvel opened #76 "Some GUI issues: small laptop screen usability, GUI redraw bugs"
Hi,

First, thanks for this nice software!

I have some redraw bugs: when I click any widget on the GUI, it does nothing, I have to click elsewhere (for example inside the view) to force a redraw.

There is another issue quite annoying when I'm on my laptop, which has a small 1366x768 screen, the application window does not fit in (too tall), and it cannot be reduced. It could be nice to remove th

[2020-10-27 09:29] cronvel commented on #76
Oh sorry, I found out that Flathub is not up to date, I have downloaded the latest AppImage (from Github) and all those GUI bugs are gone.
Could you publish the last release to Flathub?

[2020-10-27 15:49] johhnry opened #78 "Build failed on Pop!_OS 20.04"
Hi,

I just cloned the latest version of laighter (commit 2cfeecf4983e1189bd6fe6011d12d0ded029409c) on Pop!_OS 20.04 (pop-os 5.4.0-7642-generic).

I successfully installed the dependencies of the project :

[code]

But then this is the error output when running make :

<details>
<summary>Make output...</summary>
<br>

[code]
</details>

Did I do something wrong?

Thanks

[2020-10-27 15:52] azagaya commented on #78
@johhnry hi! could you check the qt version installed by your system? Note that you need Qt 5.14 or above for Laigter to work.

[2020-10-27 15:53] azagaya commented on #76
Hi! I didn't change anything regarding to those issues in newer versions... but ill try to make the publish the flatpack. @Calinou seems to be on it, but for some reason is failing.

[2020-10-27 16:16] cronvel commented on #76
@azagaya Thanks!

[2020-10-29 08:13] johhnry commented on #78
Hi,

Thanks for the quick reply, this is the output of `qtdiag` :

[code]

I did an update yesterday (moved to Pop!_OS 20.10) and now I am able to compile correctly! :)

[2020-10-29 08:13] #78 closed

[2020-11-16 15:59] creepertron95 opened #79 "Make a new Mac Big Sur-specific icon for Laigter"
Not sure if it is important but, in the next MacOS version, The Laigter icon will probably look out of place on the new version. I feel a new Mac specific icon should be designed for this new version.

This is what the default MacOS Big Sur Icons are going to look like.
![](https://media.idownloadblog.com/wp-content/uploads/2020/06/macOS-Big-Sur-Control-Center.jpg)

Problem is, I only have Windows

[2020-11-16 16:08] Calinou commented on #79
How many ISVs have designed specific macOS icons for Big Sur so far?

[2020-11-16 16:15] creepertron95 commented on #79
Adobe has adapted their icons so far.

Visual Studio Code is considering it,
(https://github.com/microsoft/vscode/issues/101014)

and A (popular) website has sprung up providing Big Sur style icons for all of the applications that have not been changed yet.
(https://macosicons.com/)

[2020-11-16 16:38] azagaya commented on #79
So the idea would be to add a rounded square as background to the icon, right? I think adding a specific icon won't be much trouble in Qt, so we may try.

[2020-11-16 16:39] Calinou commented on #79
It's probably a good idea to find a template for creating macOS Big Sur icons, since the background isn't a generic rounded rectangle, but rather a "squircle" which is difficult to reproduce by hand.

Unfortuantely, https://macosicons.com only has templates for proprietary editors, not open source software like Inkscape.

[2020-11-17 04:35] creepertron95 commented on #79
![Laigter](https://user-images.githubusercontent.com/53346722/99347148-f3105180-285b-11eb-84ae-9788c24684c2.png)

[2020-11-17 05:50] hazarek commented on #79
also [IINA](https://github.com/iina/iina) has adapted their icons.

[2020-11-17 08:47] Calinou commented on #79
@hazarek I didn't refuse your suggestion (as in, I didn't close the proposal), I was just skeptical about whether we should do this.

However, if many third-party applications do this, it makes sense that we provide our own macOS Big Sur-friendly icon as well.

[2020-11-17 11:37] hazarek commented on #79
i will fix svg corners,  and share godot icns and template tonight

[2020-11-17 12:46] creepertron95 commented on #79
Probably a good idea. (Turns out, both icons I submitted with the template got approved into the macOS Big Sur icon pack.)
![mac-icons](https://user-images.githubusercontent.com/53346722/99391824-5f14a900-28a0-11eb-9f6d-78167301aea6.png)

[2020-11-17 12:47] hazarek commented on #79
@Calinou @creepertron95
https://disk.yandex.com.tr/d/3F0t7EbRNOXvtw?w=1

[2020-11-17 12:55] creepertron95 commented on #79
Using Modified BG.

![laigter-bigsur-fix](https://user-images.githubusercontent.com/53346722/99392757-db5bbc00-28a1-11eb-96a9-92901d886346.png)

[2020-11-17 13:24] hazarek commented on #79
@Calinou Big Sur pdf icon, It can be opened and edited easily with Vector editors;
https://yadi.sk/i/HXzyFUDuBHx4dA

 I'll post it as ICNS soon.

[2020-11-17 14:02] azagaya commented on #79
@creepertron95 i really like the icon! I will add to macos builds, and ask someone to test it on a mac. However.. should we only use the icon on Big Sur? Or should we just update it for all versions? Idk if we can use an icon per macos version.

[2020-11-17 14:05] hazarek commented on #79
@Calinou

<img width="251" alt="screenshot" src="https://user-images.githubusercontent.com/36481442/99399697-0e7c6a80-28f7-11eb-85a8-e8d5fcdb854a.png">

https://yadi.sk/d/krjMuny5KwToXQ
https://yadi.sk/d/3F0t7EbRNOXvtw?w=1

[2020-11-17 14:37] creepertron95 commented on #79
@azagaya About that, this is what Apple has to say about it on their MacOS icon guidelines.

When you update your app for macOS 11, use your new app icon design to replace the icon you designed for earlier versions. You can’t include two different app icons for one app, and the macOS 11 app icon style looks fine on a Mac running Catalina or earlier.

[2020-11-17 16:13] hazarek commented on #79
The grid on this page does not match the BigSur's icons. Not the same curve

https://developer.apple.com/design/human-interface-guidelines/macos/images/app-icon-layout-guides_2x.png

<img width="529" alt="test" src="https://user-images.githubusercontent.com/36481442/99415209-a040a380-2908-11eb-9d9e-c4c0afd1a5da.png">

[2020-11-17 16:22] azagaya commented on #79
@hazarek you mean that laigter's icon made by @creepertron95 doesn't match specification?

[2020-11-17 16:33] creepertron95 commented on #79
I'll post link to source svg (Inkscape used) here. (https://github.com/creepertron95/Big-Sur-Icons-Custom/blob/main/laigter-bigsur-fix.png). @hazarek Does this mean all of the Big Sur icons (Including the ones at macosicons.com) are non-compliant?

[2020-11-17 16:34] bruvzg commented on #79
Official icon templates available at https://developer.apple.com/design/resources/#macos-apps (PSD variant is editable in Krita or GIMP).

[2020-11-17 16:56] hazarek commented on #79
no this png is wrong --> https://developer.apple.com/design/human-interface-guidelines/macos/images/app-icon-layout-guides_2x.png

these same and correct
https://yadi.sk/d/3F0t7EbRNOXvtw?w=1 and https://developer.apple.com/design/resources/#macos-apps

[2020-11-17 16:58] creepertron95 commented on #79
The png seems correct, you just placed the icon at the outer bounding box, It's supposed to be at the icon grid bounding box referenced in the png.

[2020-11-17 17:03] hazarek commented on #79
Ohh you are right.  my mistake. all of them are correct;

<img width="538" alt="asdasd" src="https://user-images.githubusercontent.com/36481442/99421872-e6e5cc00-290f-11eb-960d-76155633cb72.png">

[2020-11-17 17:09] hazarek commented on #79
Krita can't import  psd artboards

[2020-11-17 17:39] azagaya commented on #79
@creepertron95 so, the icon you made is ok, right?

[2020-11-17 17:41] hazarek commented on #79
yes but offical psd has better drop shadow. (official shadow)

[2020-11-17 17:55] hazarek commented on #79
big_sur_icon_template_1024.ora -> https://yadi.sk/d/uqj5W7hzcYpiEw

gimp and krita compatible

[2020-11-19 22:25] azagaya commented on #79
Now wee onnly need a macos user to try last continuous build.

[2020-12-03 12:06] azagaya commented on #79
I will close this, as the new icon is already in the master branch and was already tested by a mac user. I can reopen it if needed

[2020-12-03 12:06] #79 closed

[2021-02-20 09:59] shtr86 opened #81 "Preview Export Is Cropped"
Hi.

Looks like in the last version of software the preview export is bugged and crops the final result which the in the previous versions doesn't seem to exist.

No matter what the resolution of imported texture is. it only exports this area size (1402:937) (only happens when it's bigger than this size).

And finally, thank for all the efforts you put into this useful project.

OS: Windows 10 64b

[2021-02-20 12:55] azagaya commented on #81
Hi!
Thanks for reporting the issue... i think i know what could have happened... Would you share me the texture you are using?

[2021-02-20 13:43] shtr86 commented on #81
of course ! There you go.

![icon google play game](https://user-images.githubusercontent.com/79358281/108597508-b09c6a80-739e-11eb-9672-0c954ae33de7.png)
![icon google play game_v](https://user-images.githubusercontent.com/79358281/108597516-b6924b80-739e-11eb-86de-b824e65177c5.png)

[2021-02-20 19:27] azagaya commented on #81
@shtr86 would you check if its working fine in the version 1.10.4 in releases?

[2021-02-20 20:08] dariuspranskus opened #82 "Low contrast icons on dark OSX"
Hi

Thanks again for the app.

Using laigter on dark BigSur the icons have low contrast [example here](https://imgur.com/a/IlASzO5)

Thank you

[2021-02-20 20:54] Calinou commented on #82
See also #38.

Does this occur with other theme options in the app's preferences?

[2021-02-21 20:05] azagaya commented on #82
Perhaps there is a way to check the OS theme and change the laigter's theme automatically?

[2021-02-21 20:20] Calinou commented on #82
It's possible that recent Qt versions expose this, but I'm not sure if this is available in 5.x or only in 6.0 onwards.

[2021-02-22 16:31] samuncle opened #83 "Neighbour selector is empty"
Hi, first of all thanks for your amazing software. It solve exactly what I wanted to achieve 👍

Now sadly when I load a tile, to select neighbors there are no tiles to select. I was able once to see tiles but I cannot reproduce the feature.

![image](https://user-images.githubusercontent.com/6406045/108737055-7e237680-7532-11eb-95ed-62282efe9ecd.png)

Step to reproduce:
* Load any tile image in th

[2021-02-22 19:46] azagaya commented on #83
Hi! sorry to hear you are having trouble... would you send me your image? I cannot reproduce your issue
![image](https://user-images.githubusercontent.com/46932830/108761162-4534d300-752d-11eb-8a18-f338517c6058.png)
While testing I found another bug related, but I always can see the tiles.

[2021-02-22 19:56] azagaya commented on #81
@shtr86 would you confirm if the issue is solved in last release?

[2021-02-22 19:56] azagaya commented on #82
@dariuspranskus does selecting a dark theme from the app itselfs solves this?

[2021-02-22 22:09] azagaya commented on #83
Ok, im really sorry. I found out that this bug affect only windows, but in release mode, and i was testing in debug mode. Im not sure how ill manage to fix this as it only happens in release.

[2021-02-22 22:16] azagaya commented on #83
Maybe you can try selecting another tile than the defualt and then clicking the neighbors button?

[2021-02-23 02:16] azagaya commented on #83
Fixed it.. will upload new releasetomorrow!

[2021-02-23 07:34] shtr86 commented on #81
It works perfectly fine in version "1.10.5". Ty 👍

I'm not sure if it's a right way to make an suggestion or not. But since I really like to use the baked version of my textures with your software. I noticed there is some changes done to my final result in preview exports. Here is an example

![Test](https://user-images.githubusercontent.com/79358281/108813276-f4bd8400-75c5-11eb-9669-1e9e9840c737.

[2021-02-23 15:53] azagaya commented on #81
Oh.. thats probably because laigter export preview in premultiplied alpha format. Perhaps you could check if you have an premultiplied alpha import option in the software you are using?
If not, i can make that an option for next release perhaps.

[2021-02-23 17:37] azagaya commented on #83
@samuncle would you kindly check if the issue is gone in 1.10.5 version?

[2021-02-23 17:38] azagaya commented on #82
I'll close this for now, as the theme in laigter should solve this. Feel free to write again if you still find issues.

[2021-02-23 17:38] #82 closed

[2021-02-23 17:39] azagaya commented on #81
I will close this for now, if you persist with that issue, feel free to open another issue! as that problem is unrelated to the original topic of this one.

[2021-02-23 17:39] #81 closed

[2021-02-24 16:28] azagaya commented on #83
Closing for now, as it seems fixed.

[2021-02-24 16:28] #83 closed

[2021-05-26 19:50] pietrodito opened #85 "Zoom out button just zoom in (idem with mouse wheel) Pop.Os! 20.10"
The zoom in and zoom out buttons produce the same result they both zoom in.

It is the same with the mouse wheel (with all my mouses).

[2021-05-26 20:21] azagaya commented on #85
Oh, this is a regression. Are you using a hidpi display? Ill look at this soon

[2021-05-31 22:27] azagaya commented on #85
I cannot reproduce this on Ubuntu 20.04. Could you confirm me if you are using high dpi display? And the version of Laigter please?

[2021-07-01 17:07] TheTrueDuck opened #86 "Minor Spelling Errors (English Translation)"
In Export -> Frames export options -> Sepparate Images, "Sepparate" is spelled incorrectly (Correct spelling: "Separate").
[
![Screenshot 2021-06-30 at 10 36 30 PM](https://user-images.githubusercontent.com/79223911/124162501-cfbead80-da9e-11eb-819c-b7e3b706fa96.png)
](url)

[2021-07-03 19:56] TheTrueDuck commented on #86
While translating into german, we stumbled into some more spelling mistakes:
Sprite Properties Dock Widget -> Frames, the dimensions are "H" and "V". H is height, but there is no dimension for V. Should Probably be "W" for width.
![Screenshot 2021-07-03 at 9 30 21 PM](https://user-images.githubusercontent.com/79223911/124365438-4f3bb080-dc48-11eb-91ee-0e833783d0ad.png)
Sprite Properties Dock Widge

[2021-08-16 15:56] Arrow-x opened #87 "The View doesn't show anything"
![Capture](https://user-images.githubusercontent.com/3308421/129592580-bacdec23-aa03-4061-96bf-33d0df324766.PNG)
v 1.10.6
I am on Windows with i3 3000 (OpenGL 3.1 support only is that the problem?)

[2021-08-18 00:29] azagaya commented on #87
Hi,
Sorry for the late response, I was traveling.
It should work fine with OpenGL 3.1, although I didn't test with integrated intel GPUs. I'll try to test in other machines to see if I can reproduce it. In the meantime, would you try this things?

1. Run Laigter from the command line to see if any errors appear.
2. Try running laigter from the command line with -s parameter.
3. Try running in anot

[2021-08-18 12:33] Arrow-x commented on #87
No problem, I hope it was a safe trip, anyway
1- No errors appear
2- Same result the program works but the view doesn't show anything, I can click around in it, and it will change selection, but nothing is shown
3- Tested on GTX 750 and an RX 460 and the programme works fine, bare in mind that this problem is on a mobile intel cpu, the i3 2330m

[2021-08-18 13:47] Calinou commented on #87
As a workaround, you could use a software OpenGL implementation for Laigter only: https://github.com/pal1000/mesa-dist-win

[2021-08-18 14:14] Arrow-x commented on #87
@Calinou strange I installed for Laigter and no change whatsoever

[2021-08-21 09:13] Arrow-x commented on #87
switched to linux and the view is working fine

[2021-08-21 11:22] azagaya commented on #87
@Arrow-x in that case it seems to be a problem with the drivers on Windows, as the dame hardware in Linux work. Maybe You could try updating the drivers in windows

[2021-08-21 12:15] #87 closed

[2022-01-18 18:53] nanodeath opened #89 "itch.io distribution improvements"
Right now Laigter is (also) distributed through itch.io, but it doesn't work very well apparently for just linking off to Github like it is now. Specifically, if you're using the itch client on Linux, Laigter straight up won't install.

I raised this issue with Itch (https://github.com/itchio/hush/issues/1), but they understandably don't want to support this codepath.

Admittedly this is a somewha

[2022-01-18 19:06] azagaya commented on #89
I see. I Will make a zip and upload directly on itch for the Linux version then! That should solve the problem right?

[2022-01-18 19:54] nanodeath commented on #89
I think you have to use `butler`, but yeah. https://itch.io/docs/butler/pushing.html should cover it. That's be great, thanks @azagaya.

[2022-01-19 12:47] azagaya commented on #89
@nanodeath would you try now?

[2022-02-08 12:32] #86 closed

[2022-05-20 14:45] rekcah1986 opened #91 "What is preset profile ?"
`laigter --no-gui -d "<pathToDiffuseTexture>.png" --r "<pathToPresetProfile>" -n -c -o -p`

How to get the "pathToPresetProfile"?

[2022-05-20 14:47] rekcah1986 commented on #91
![image](https://user-images.githubusercontent.com/3055444/169553734-79691392-04ff-45a8-a417-e69e5fa1cb06.png)

[2022-05-20 14:47] #91 closed

[2022-07-26 08:16] MikeRocke opened #92 "Alpha settings in presets?"
Good morning!

Firstly, thank you for such an amazing tool!

I was trying to use the CLI mode to generate a bunch of Normal maps. In the GUI, I can toggle the Alpha checkbox and generate them fine, but in the CLI, I can't seem to find a setting that will work. My limited knowledge of C++ has struggled to find a way to load a preset with that setting.

Am I doing something stupid? Any suggestions y

[2022-07-26 22:12] azagaya commented on #92
Oh yeah, alpha is not available in presets. I should add it and release a fix. Im a bit busy lately but ill try my best.

[2022-07-27 09:54] MikeRocke commented on #92
Thanks for getting back to me mate! Was worried that couldn't find it.